<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="static/images/fruits.jpg" alt="Fruits" style="width:40px;" class="rounded-pill">FARMER FRUITS SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="navbar navbar-expand-sm  me-5s bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="product">Fruits</a>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="location">Location</a>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="movement">Fruits Movement</a>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="logout">Log Out</a>
      </div>
    </nav>
  </div>
</nav>

